*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

/* HEADER */

.header{
    background: rgb(46,1,1);
    background: linear-gradient(180deg, rgba(46,1,1,1) 0%, rgba(71,0,0,1) 50%, rgba(110,0,0,1) 100%);
    position: fixed;
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2rem;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logotipo-header{
    text-align: center;
    padding-left: 15%;
}

.botones-header{
    padding-right: 15%;
}

.ul-header{
    display: flex;
    list-style: none;
}

.nav-enlace{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.nav-item-lista{
    margin-left: 2rem;
    font-size: 1.5rem;
}

/* MAIN - INICIO 1 */

.inicio1{
    background-color: rgb(49, 48, 48);
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 750px;
    padding-top: 100px;
}

.inicio1-box{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio1-box-texto{
    background-color: white;
    padding: 1.5rem;
    width: 30%;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 2px 2px 5px;
}

.inicio1-box-texto-titulo{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 800;
}

.inicio1-texto{
    text-align: justify;
    font-size: 1.2rem;
}

.inicio1-box-imagen{
    width: 70%;
    display: block;
    padding-left: 1rem;
}

.inicio1-box-imagen-foto{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.inicio2{
    background-color: rgb(49, 48, 48);
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 750px;
    padding-top: 100px;
}

.inicio2-box{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio2-box-imagenes{
    width: 60%;
    display: block;
    padding-left: 1rem;
}

.inicio2-box-imagenes-foto{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.inicio2-box-texto{
    background-color: white;
    padding: 1.5rem;
    width: 40%;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 2px 2px 5px;
    margin-left: 1rem;
    text-align: justify;
}

.inicio2-texto1{
    text-align: justify;
    font-size: 1.2rem;
}

.inicio2-btn-reserva{
    margin-top: 2rem;
    background: rgb(46,1,1);
    background: linear-gradient(180deg, rgba(46,1,1,1) 0%, rgba(71,0,0,1) 50%, rgba(110,0,0,1) 100%);
    display: inline-block;
    color: white;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 5rem;
}

.inicio3{
    background-color: rgb(49, 48, 48);
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 750px;
    padding-top: 100px;
}

.inicio3-box{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio3-textos{
    background-color: rgb(255, 255, 255);
    margin-right: 2rem;
    padding: 1rem;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 2px 2px 5px;
    margin-left: 1rem;
    text-align: justify;
}

.inicio3-texto-titulo{
    font-size: 2rem;
    text-transform: uppercase;
}

/* MAIN - SOCIAL BAR */

.social{
    position: fixed;
    left: 0;
    top: 50%;
}

.social ul{
    list-style: none;
}

.social ul li a{
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 50ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook{
    background: #3b5998;
    min-width: 93.98px;
}

.social ul li .icon-instagram{
    background: #dd2a7b;
    min-width: 93.98px;
}

.social ul li .icon-whatsapp{
    background: #25d366;
    min-width: 93.98px;
}

.social ul li a:hover{
    padding: 10px 30px;
    background: black;
}

/* FOOTER */

.footer{
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    padding: 2rem;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(185, 185, 185);
}

.logotipo-footer{
    margin-left: 15%;
    text-align: center;
}

.texto-footer{
    margin-right: 15%;
    text-align: center;
    font-weight: 700;
}