*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

/* HEADER */

.header{
    background: rgb(46,1,1);
    background: linear-gradient(180deg, rgba(46,1,1,1) 0%, rgba(71,0,0,1) 50%, rgba(110,0,0,1) 100%);
    position: fixed;
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2rem;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logotipo-header{
    text-align: center;
    padding-left: 15%;
}

.botones-header{
    padding-right: 15%;
}

.ul-header{
    display: flex;
    list-style: none;
}

.nav-enlace{
    text-decoration: none;
    color: white;
}

.nav-item-lista{
    margin-left: 2rem;
    font-size: 1.5rem;
}

/* MAIN - INICIO 1 */

.inicio1{
    background-color: rgb(49, 48, 48);
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 750px;
    padding-top: 100px;
}

.inicio1-box{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio1-box-texto{
    background-color: white;
    padding: 1.5rem;
    width: 30%;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 2px 2px 5px;
}

.inicio1-box-texto-titulo{
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 800;
}

.inicio1-texto{
    text-align: justify;
    font-size: 1.2rem;
}

.inicio1-box-imagen{
    width: 70%;
    display: block;
    padding-left: 1rem;
}

.inicio1-box-imagen-foto{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.inicio2{
    background-color: rgb(49, 48, 48);
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 750px;
    padding-top: 100px;
}

.inicio2-box{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio2-box-imagenes{
    width: 60%;
    display: block;
    padding-left: 1rem;
}

.inicio2-box-imagenes-foto{
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.inicio2-box-texto{
    padding-left: 2rem;
    width: 40%;
}

.inicio2-texto1{
    padding-bottom: 2rem;
}

.inicio2-btn-reserva{
    margin-top: 2rem;
    background-color: black;
    display: inline-block;
    color: white;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 50px;
    text-decoration: none;
}

.inicio3{
    background-color: rgb(49, 48, 48);
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 750px;
    padding-top: 100px;
}

.inicio3-box{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio3-textos{
    background-color: blue;
}